* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.nav a:hover {
    color: #f30b0b!important;
    background-color: transparent;
}

footer a:hover {
    color: #f30b0b!important;
    background-color: transparent;
}

.link-hover:hover {
    color: #f30b0b!important;
}

li{
    list-style: none;
}

.pb-2d75, .py-2d75 {
    padding-bottom: .75rem!important;
}

.pt-2d75, .py-2d75 {
    padding-top: .75rem!important;
}

.pt-5, .py-5 {
    padding-top: 2.5rem!important;
}

.pb-5, .py-5 {
    padding-bottom: 2.5rem!important;
}

.mt-5, .my-5 {
    margin-top: 2.5rem!important;
}

.mb-5, .my-5 {
    margin-bottom: 2.5rem!important;
}

.transition-3d-hover {
    transition: all .2s ease-in-out;
}

.widgets-hover:hover {
    padding-left: 12px;
}